body {
  background-color:#FF8A65;
  font-family:arial;
}
.first {
  margin-left: 100px;
  margin-right: 100px;
}
.second {
  margin-left: 100px;
  margin-right: 100px;
}
h1 {
  color:white;
  text-align:center
}
h2.first {
  background-color:white;
  color:#FF8A65;
  text-align:center;
  padding:5px
}
h3.first {
  color:white;
  border:3px solid white;
  padding:3px;
  margin-right:1100px;
  text-align:center;
}
p {
  margin-left: 100px;
  margin-right: 100px;
}
p.first {
  color:#FAFAFA;
}
p.third {
  color: #3D3D3D
}
ul#ul1, ol#ol1 {
  color:#FAFAFA;
  margin-top:-12px;
  margin-left: 100px;
  margin-right: 100px;
}
a:link,a:visited {
  color:#FAFAFA;
  text-decoration: none;
}
a:hover {
  color:#FFAB91;
}
table {
  margin-left: 100px;
  margin-right: 100px;
}
#t1 table, #t1 th, #t1 td {
  font-size: 18px;
}
#t2, #t2 th, #t2 td {
  padding: 5px;
  border-spacing: 5px;
}
#t2 th {
  color:white;
  background-color: #F36032;
}
#t2 td {
  color:#F36032;
  background-color: #FAFAFA;
}
#t3, #t3 th, #t3 td {
 border: 2px solid white;
 border-collapse: collapse;
 padding: 3px
}
h2.second {
  border-top-style: solid;
  border-bottom-style: solid;
  border-color: #3D3D3D;
  border-width: 3px;
  background-color: transparent;
  color: #3D3D3D;
  text-align: center;
  padding: 5px
}
h3.second {
  border: none;
  margin-right: 0px;
  text-align: left;
  color: #3D3D3D;
}
.third {
  background-color: #F36032;
  border: transparent;
  margin: 20px 200px 20px 200px;
  color: #3D3D3D;
  padding: 5px;
  border-radius: 50px
}
h3.third {
  margin-left: 50px;
  color: white;
}
p.third {
  margin-right: 50px;
  margin-left: 50px;
  color: #FAFAFA
}
.snt {
  background-color: #FAFAFA;
  width: 100%;
  margin: 0px 0px 0px -10px;
  padding: 2px 9px 9px 9px;
}

#navbar
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #F36032;
}

#navbar li a 
{
  display: block;
  padding: 8px 16px;
}

#navbar li a:hover 
{
  background-color: #F25322;
}